<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href='{% static "images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/animate/animate.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href='{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('{% static "images/bg-01.jpg" %}');">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Username</th>
                                <th class="column2">Is Admin</th>
                                <th class="column3">Email Address</th>
                                <th class="column4">Domain Name</th>
                                <th class="column5">Capacity</th>
                                <th class="column1">Edit</th>
                                <th class="column1">Login</th>
                                <th class="column1">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in q1 %}
                            <tr>
                                <td class="column1">{{ t.username }}</td>
                                <td class="column2">{{ t.profile.is_admin }}</td>
                                <td class="column3">{{ t.email }}</td>
                                <td class="column4">{{ t.profile.domain_name }}</td>
                                <td class="column5">{{ t.profile.capacity}}</td>
                                <td class="column1">
                                    {% if not t.username == 'root' %}
                                        <a  href="{% url "user-update"  t.id  %}">Click to Update</a>
                                    {% else %}
                                        you can't edit root
                                    {% endif %}
                                </td>
                                <!--td class="column3"><a  href="{% url "login-user-form"  user.id  %}">Click to Update</a></td-->
                                <td class="column6">
                                    <form class="login100-form validate-form flex-sb flex-w" method="post" action="{% url "login-user-form"  t.id  %}">
                                        {% csrf_token %}
                                        <div class="container-login100-form-btn m-t-17">
                                            {% if not t.profile.is_admin or user.username == 'root' %}
						                        <button class="login100-form-btn">
							                        Login as this User
						                        </button>
                                            {% else %}
                                            you can't login as admin
                                            {% endif %}
					                    </div>
                                    </form>
                                </td>
                                <td class="column6">
                                    <form class="login100-form validate-form flex-sb flex-w" method="post" action="{% url "delete-user-form"  t.id  %}">
                                        {% csrf_token %}
                                        <div class="container-login100-form-btn m-t-17">
                                            {% if t.username != 'root' %}
						                        <button class="login100-form-btn">
							                        Delete User
						                        </button>
                                            {% else %}
                                                Can't delete Root
                                            {% endif %}
					                    </div>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <form method="get" action='{%url "admin-panel" %}'>
                    <div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Back to Admin Panel
						</button>
                    </div></form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===============================================================================================-->
	<script src='{% static "vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/animsition/js/animsition.min.js" %}\'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/bootstrap/js/popper.js" %}'></script>
	<script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/daterangepicker/moment.min.js" %}'></script>
	<script src='{% static "vendor/daterangepicker/daterangepicker.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/countdowntime/countdowntime.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "js/main.js" %}'></script>

</body>

</html>